/**
 * @name MyCustomTheme
 * @description My completely custom Discord theme
 * @version 1.0.0
 * @author blueberry-less
 * @authorId 0
 * @updateUrl 
 */
 

#app-mount {
    background: var(--background-image) center/cover no-repeat !important;
}

/* Make main panels transparent so the background shows */
div[class^="sidebar-"],
div[class^="chat-"],
div[class^="container-"][id^="chat-messages-"] {
    background-color: transparent !important;
}

/* Optional: tweak text and accents */
div[class^="container-"],
div[class^="chat-"] {
    color: var(--text-color) !important;
}

:root {
    --background-image: url('https://i.imgur.com/7SbtKvw.png');
    --background-color: #161921;
    --accent-color: #25ACF0;
    --text-color: #FFFFFF;
    --sidebar-width: 72px;
}